<%- include('../partials/header') %>

<div class="container section">
  <h1>About</h1>
  <p>CS2HUB is a website dedicated to CS2 guides and pro settings.</p>
</div>

<%- include('../partials/footer') %>